@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "DungGeunMo";
    src: url("./fonts/DungGeunMo.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: "DungGeunMo", sans-serif;
}