@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* bg */
    .bg-color-hotpink {
        @apply bg-[#DD549A]
    }
    .bg-color-red {
        @apply bg-[#FFD8D8]
    }
    .bg-color-orange {
        @apply bg-[#FFDEA9]
    }
    .bg-color-yellow {
        @apply bg-[#FAF4C0]
    }
    .bg-color-green {
        @apply bg-[#CEFBC9]
    }
    .bg-color-blue {
        @apply bg-[#D9E5FF]
    }
    .bg-color-purple {
        @apply bg-[#E8D9FF]
    }
    .bg-color-black {
        @apply bg-[#D5D5D5]
    }
    /* btn */
    .btn-color-pink {
        @apply bg-[#ED8EE0]
    }
    .btn-color-gray {
        @apply bg-[#C2C2C2]
    }
    .btn-custom {
        @apply w-full border-black border-2
    }
    /* border */
    .border-custom-1 {
        @apply border-l-white border-t-white border-r-[#9E9E9E] border-b-[#9E9E9E] border-4
    }
    .border-custom-2 {
        @apply border-l-[#9E9E9E] border-t-[#9E9E9E] border-b-white border-r-white border-4
    }
    /* input */
    .input-custom {
        @apply p-0.5 w-full focus:outline-none
    }
}

@font-face {
    font-family: "DungGeunMo";
    src: url("./fonts/DungGeunMo.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: "DungGeunMo", sans-serif;
}
html {
    font-size: 16px;
}

textarea::-webkit-scrollbar {
    width: 2px; /* 스크롤바 너비 */
}
textarea::-webkit-scrollbar-thumb {
    background: white; /* 스크롤바 색상 */
    border-radius: 4px; /* 둥근 모서리 */
}

input, textarea {
    background-color: transparent;
    outline: none;
}